@font-face {
    font-family:'NOORI NASTALEEQ';
    src:local("NOORI NASTALEEQ"),
		url("https://files.sajidali.net/Jameel-Noori-Nastaleeq-Regular-1.woff");
}
@font-face {
    font-family:'QURAN MAJEED';
    src:local("QURAN MAJEED"),
		url("https://files.sajidali.net/Al-Qalam-Quran-Majeed.woff");
}
@font-face {
    font-family:'Aslam';
    src:local("Aslam"),
		url("https://files.sajidali.net/Aslam.ttf");
}

@font-face {
    font-family:'Al_Mushaf';
    src:local("Al_Mushaf"),
		url("https://files.sajidali.net/Al_Mushaf.ttf");
}
@font-face{
    font-family:ar;
    src:local("Al_Mushaf"),
		url("https://files.sajidali.net/Al_Mushaf.ttf");
}

@font-face{
    font-family:urdu;
    src:local("Jameel Noori Nastaleeq"),
		url("https://files.sajidali.net/Font_Jameel-Noori-Nastaleeq.woff");
}
@font-face {
    font-family:'Jameel_Noori_Nastaleeq';
    src:local("Jameel Noori Nastaleeq"),
		url("https://files.sajidali.net/Font_Jameel-Noori-Nastaleeq.woff");
}
@font-face {
    font-family:'Jameel-Noori-Nastaleeq';
    src:local("Jameel Noori Nastaleeq"),
		url("https://files.sajidali.net/Font_Jameel-Noori-Nastaleeq.woff");
}
@font-face {
    font-family:'Jameel Noori Nastaleeq';
    src:local("Jameel Noori Nastaleeq"),
		url("https://files.sajidali.net/Font_Jameel-Noori-Nastaleeq.woff");
}

@font-face {
    font-family:'Alvi Nastaleeq';
    src:local("Jameel Noori Nastaleeq"),
		url("https://files.sajidali.net/Font_Jameel-Noori-Nastaleeq.woff");
}

@font-face {
    font-family:'Noori Nastaliq';
    src:local("Jameel Noori Nastaleeq"),
		url("https://files.sajidali.net/Font_Jameel-Noori-Nastaleeq.woff");
}

@font-face {
    font-family:'Al Qalam Quran Majeed Web2_D';
    src:local("Al Qalam Quran Majeed Web2_D"),
		url("https://files.sajidali.net/Al Qalam Quran Majeed Web2_D.otf");
}

@font-face{
    font-family:Al-Qalam;
    src:local("Al Qalam Quran Majeed Web2_D"),
		url("https://files.sajidali.net/Al Qalam Quran Majeed Web2_D.otf");
}
@font-face{
    font-family:'Mehr Nastaliq Web';
    src:local("Mehr_Nastaliq"),
                url("https://files.sajidali.net/Mehr Nastaliq Web version 1.0 beta.ttf");
}

@font-face{
    font-family:'Akbar';
    src:local("akbar"),
                url("https://files.sajidali.net/akbar.ttf");
}

@font-face{
    font-family:'adobearabicregular';
    src:local("adobearabicregular"),
                url("https://files.sajidali.net/adobearabicregular.otf");
}

@font-face{
    font-family:'nafees_web_naskhshipped';
    src:local("nafees_web_naskhshipped"),
                url("https://files.sajidali.net/nafees_web_naskhshipped.ttf");
}

@font-face{
    font-family:'Mehr Nastaliq Web 3';
    src:local("Mehr Nastaliq Web 3"),
                url("https://files.sajidali.net/Mehr Nastaliq Web 3.ttf");
}

@font-face{
    font-family: 'New_AlQalamQuranMajeedWeb2_D';
    src: url('https://files.sajidali.net/Al Qalam Quran Majeed Web2.otf') format('opentype');
}

@font-face{
    font-family:Al-Qalam-V1;
    src:local("Al Qalam Quran Majeed Web2_D"),
    url("https://files.sajidali.net/AlQalamQuranMajeedWeb2_D.otf");
}

@font-face{
  font-family: Sindhi__one;
  src:local("MB Lateefi"),
  url("https://files.sajidali.net/sindhi.OTF");
}
